# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Environment
.env
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# DVC
/data/raw/
/data/processed/
/data/outputs/
/models/

# MLflow
mlruns/

# Hydra
outputs/
.hydra/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
