fastapi
uvicorn
pydantic
hydra-core
omegaconf
kagglehub
lightgbm
scikit-learn
shap
mlflow
optuna
pandas
numpy
matplotlib
seaborn
plotly
streamlit
pyyaml
requests
pytest
httpx
python-dotenv
pyarrow
dvc
